In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
car_data = pd.read_csv('/content/SET 1 A.csv')

In [ ]:
# Step 2: Data Exploration and Preprocessing
# Check for missing values
print("Missing values before handling:")
print(car_data.isnull().sum())

Missing values before handling:
car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [ ]:
car_data = car_data.drop(['fueltype', 'aspiration', 'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'enginetype', 'cylindernumber', 'fuelsystem'], axis=1)

In [ ]:
# Identify non-numeric columns
non_numeric_cols = car_data.select_dtypes(include=['object']).columns

# Drop non-numeric columns
car_data = car_data.drop(non_numeric_cols, axis=1)

In [ ]:
# Fill missing values with mean
car_data.fillna(car_data.mean(), inplace=True)

In [ ]:
if 'CarName' in non_numeric_cols:
    non_numeric_cols = non_numeric_cols.drop('CarName')

In [ ]:
# Identify non-numeric columns
non_numeric_cols = car_data.select_dtypes(include=['object']).columns

# Remove the 'CarName' column from non_numeric_cols
non_numeric_cols = non_numeric_cols.drop('CarName')

# Convert non-numeric columns to numeric
car_data[non_numeric_cols] = car_data[non_numeric_cols].astype(float)

# Fill missing values with mean
car_data.fillna(car_data.mean(), inplace=True)

KeyError: "['CarName'] not found in axis"

In [ ]:

# Fill missing values with mean
car_data.fillna(car_data.mean(), inplace=True)

TypeError: Could not convert ['alfa-romero giuliaalfa-romero stelvioalfa-romero Quadrifoglioaudi 100 lsaudi 100lsaudi foxaudi 100lsaudi 5000audi 4000audi 5000s (diesel)bmw 320ibmw 320ibmw x1bmw x3bmw z4bmw x4bmw x5bmw x3chevrolet impalachevrolet monte carlochevrolet vega 2300dodge rampagedodge challenger sedodge d200dodge monaco (sw)dodge colt hardtopdodge colt (sw)dodge coronet customdodge dart customdodge coronet custom (sw)honda civichonda civic cvcchonda civichonda accord cvcchonda civic cvcchonda accord lxhonda civic 1500 glhonda accordhonda civic 1300honda preludehonda accordhonda civichonda civic (auto)isuzu MU-Xisuzu D-Max isuzu D-Max V-Crossisuzu D-Max jaguar xjjaguar xfjaguar xkmaxda rx3maxda glc deluxemazda rx2 coupemazda rx-4mazda glc deluxemazda 626mazda glcmazda rx-7 gsmazda glc 4mazda 626mazda glc custom lmazda glc custommazda rx-4mazda glc deluxemazda 626mazda glcmazda rx-7 gsbuick electra 225 custombuick century luxus (sw)buick centurybuick skyhawkbuick opel isuzu deluxebuick skylarkbuick century specialbuick regal sport coupe (turbo)mercury cougarmitsubishi miragemitsubishi lancermitsubishi outlandermitsubishi g4mitsubishi mirage g4mitsubishi g4mitsubishi outlandermitsubishi g4mitsubishi mirage g4mitsubishi monteromitsubishi pajeromitsubishi outlandermitsubishi mirage g4Nissan versanissan gt-rnissan roguenissan lationissan titannissan leafnissan jukenissan lationissan notenissan clippernissan roguenissan nv200nissan dayznissan fuganissan ottinissan teananissan kicksnissan clipperpeugeot 504peugeot 304peugeot 504 (sw)peugeot 504peugeot 504peugeot 604slpeugeot 504peugeot 505s turbo dieselpeugeot 504peugeot 504peugeot 604slplymouth fury iiiplymouth cricketplymouth fury iiiplymouth satellite custom (sw)plymouth fury gran sedanplymouth valiantplymouth dusterporsche macanporcshce panameraporsche cayenneporsche boxterporsche cayennerenault 12tlrenault 5 gtlsaab 99esaab 99lesaab 99lesaab 99glesaab 99glesaab 99esubarusubaru dlsubaru dlsubarusubaru brzsubaru bajasubaru r1subaru r2subaru treziasubaru tribecasubaru dlsubaru dltoyota corona mark iitoyota coronatoyota corolla 1200toyota corona hardtoptoyota corolla 1600 (sw)toyota carinatoyota mark iitoyota corolla 1200toyota coronatoyota corollatoyota coronatoyota corollatoyota mark iitoyota corolla liftbacktoyota coronatoyota celica gt liftbacktoyota corolla terceltoyota corona liftbacktoyota corollatoyota starlettoyota terceltoyota corollatoyota cressidatoyota corollatoyota celica gttoyota coronatoyota corollatoyota mark iitoyota corolla liftbacktoyota coronatoyota starlettoyouta tercelvokswagen rabbitvolkswagen 1131 deluxe sedanvolkswagen model 111volkswagen type 3volkswagen 411 (sw)volkswagen super beetlevolkswagen dashervw dashervw rabbitvolkswagen rabbitvolkswagen rabbit customvolkswagen dashervolvo 145e (sw)volvo 144eavolvo 244dlvolvo 245volvo 264glvolvo dieselvolvo 145e (sw)volvo 144eavolvo 244dlvolvo 246volvo 264gl'] to numeric

In [ ]:
# Option 1: Remove the 'car_ID' column
car_data = car_data.drop('car_ID', axis=1)

# Fill missing values with mean
car_data.fillna(car_data.mean(), inplace=True)

# Option 2: Convert the 'car_ID' column to numeric values
car_data['car_ID'] = pd.to_numeric(car_data['car_ID'], errors='coerce')

# Fill missing values with mean
car_data.fillna(car_data.mean(), inplace=True)

TypeError: Could not convert ['alfa-romero giuliaalfa-romero stelvioalfa-romero Quadrifoglioaudi 100 lsaudi 100lsaudi foxaudi 100lsaudi 5000audi 4000audi 5000s (diesel)bmw 320ibmw 320ibmw x1bmw x3bmw z4bmw x4bmw x5bmw x3chevrolet impalachevrolet monte carlochevrolet vega 2300dodge rampagedodge challenger sedodge d200dodge monaco (sw)dodge colt hardtopdodge colt (sw)dodge coronet customdodge dart customdodge coronet custom (sw)honda civichonda civic cvcchonda civichonda accord cvcchonda civic cvcchonda accord lxhonda civic 1500 glhonda accordhonda civic 1300honda preludehonda accordhonda civichonda civic (auto)isuzu MU-Xisuzu D-Max isuzu D-Max V-Crossisuzu D-Max jaguar xjjaguar xfjaguar xkmaxda rx3maxda glc deluxemazda rx2 coupemazda rx-4mazda glc deluxemazda 626mazda glcmazda rx-7 gsmazda glc 4mazda 626mazda glc custom lmazda glc custommazda rx-4mazda glc deluxemazda 626mazda glcmazda rx-7 gsbuick electra 225 custombuick century luxus (sw)buick centurybuick skyhawkbuick opel isuzu deluxebuick skylarkbuick century specialbuick regal sport coupe (turbo)mercury cougarmitsubishi miragemitsubishi lancermitsubishi outlandermitsubishi g4mitsubishi mirage g4mitsubishi g4mitsubishi outlandermitsubishi g4mitsubishi mirage g4mitsubishi monteromitsubishi pajeromitsubishi outlandermitsubishi mirage g4Nissan versanissan gt-rnissan roguenissan lationissan titannissan leafnissan jukenissan lationissan notenissan clippernissan roguenissan nv200nissan dayznissan fuganissan ottinissan teananissan kicksnissan clipperpeugeot 504peugeot 304peugeot 504 (sw)peugeot 504peugeot 504peugeot 604slpeugeot 504peugeot 505s turbo dieselpeugeot 504peugeot 504peugeot 604slplymouth fury iiiplymouth cricketplymouth fury iiiplymouth satellite custom (sw)plymouth fury gran sedanplymouth valiantplymouth dusterporsche macanporcshce panameraporsche cayenneporsche boxterporsche cayennerenault 12tlrenault 5 gtlsaab 99esaab 99lesaab 99lesaab 99glesaab 99glesaab 99esubarusubaru dlsubaru dlsubarusubaru brzsubaru bajasubaru r1subaru r2subaru treziasubaru tribecasubaru dlsubaru dltoyota corona mark iitoyota coronatoyota corolla 1200toyota corona hardtoptoyota corolla 1600 (sw)toyota carinatoyota mark iitoyota corolla 1200toyota coronatoyota corollatoyota coronatoyota corollatoyota mark iitoyota corolla liftbacktoyota coronatoyota celica gt liftbacktoyota corolla terceltoyota corona liftbacktoyota corollatoyota starlettoyota terceltoyota corollatoyota cressidatoyota corollatoyota celica gttoyota coronatoyota corollatoyota mark iitoyota corolla liftbacktoyota coronatoyota starlettoyouta tercelvokswagen rabbitvolkswagen 1131 deluxe sedanvolkswagen model 111volkswagen type 3volkswagen 411 (sw)volkswagen super beetlevolkswagen dashervw dashervw rabbitvolkswagen rabbitvolkswagen rabbit customvolkswagen dashervolvo 145e (sw)volvo 144eavolvo 244dlvolvo 245volvo 264glvolvo dieselvolvo 145e (sw)volvo 144eavolvo 244dlvolvo 246volvo 264gl'] to numeric

In [ ]:
# Summary statistics
print("\nSummary statistics:\n", car_data.describe())

In [ ]:
# Check correlation between features and target variable
correlation_matrix = car_data.corr()
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f", linewidths=0.5)
plt.title("Correlation Matrix")
plt.show()

In [ ]:
# Data preprocessing
# Assuming no outliers handling or categorical encoding for simplicity
# Split the dataset into features and target variable
X = car_data.drop('price', axis=1)  # Features
y = car_data['price']  # Target variable

In [ ]:
# Step 3: Splitting the Dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Step 4: Model Training
model = LinearRegression()
model.fit(X_train, y_train)

In [ ]:
# Step 5: Model Evaluation
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("\nMean Squared Error:", mse)
print("R-squared:", r2)

NameError: name 'model' is not defined

In [ ]:

# Step 6: Additional Evaluation Metrics
# Root Mean Squared Error (RMSE)
rmse = np.sqrt(mse)
print("Root Mean Squared Error (RMSE):", rmse)

In [ ]:
# Step 7: Actual vs Predicted Scatter plot
plt.figure(figsize=(8, 6))
plt.scatter(y_test, y_pred, alpha=0.5)
plt.xlabel('Actual Price')
plt.ylabel('Predicted Price')
plt.title('Actual vs Predicted Price')
plt.show()